.cert-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.frame-holder {
    position: relative;
    display: inline-block;
    background-color: transparent;
    width: calc(290mm/3);
    height: calc(210mm/3);
}

.btn-frame:hover,
.btn-frame:active,
.btn-frame:focus {
    outline: none;
    transform: translateY(-1em);
    transition: all 200ms ease;
}

.cert-gallery .modal-heading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 1.125em;
}

.cert-gallery .modal-title {
    font-size: 1.8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cert-gallery .modal-dialog {
    max-width: 1150px;
}

.cert-gallery .modal-content {
    background-color: rgba(255, 255, 255, 0.8);
}

.cert-gallery .modal-body {
    padding-top: 0;
}

.cert-gallery .modal-body>.frame-holder {
    width: calc(290mm);
    height: calc(210mm);
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1.414 / 1;
    z-index: 3;
}

.cert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 70%;
    z-index: 2;
}

.backing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    box-shadow: inset 0 0 2rem .5rem rgba(0, 0, 0, 0.2);
    width: 90%;
    aspect-ratio: 1.414 / 1;
    z-index: 1;
}


.cert-gallery .modal-body>.frame-holder .backing {
    box-shadow: inset 0 0 3rem 2rem rgba(0, 0, 0, 0.5);
}

.btn-frame {
    border: none;
}


.badge-gallery {
    display: flex;
    justify-content: center;
    gap: 5em;
}

.credly-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 1.125em;
    position: relative;
}

.credly-badge .fa-solid {
    position: absolute;
    right: 1em;
}

.credly-badge>img {
    padding: 0.5em;
    border-radius: 50%;
}