* {
  font-family: 'Montserrat', sans-serif;
  color: #ECF0F1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

hr {
  border: none;
  height: 0.3px;
  background-color: #ECF0F1;
}

/*========== Navigation Bar ==========*/
header {
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  background-color: #24252A;
  z-index: 100;
  box-shadow: 0 0 20px #303f56;
}

li, a, button {
  font-weight: 500;
  font-size: 14px;
  color: #ecf0f1;
  text-decoration: none;
}

.logo {
  position: relative;
  cursor: pointer;
  margin-right: auto;
  width: 28%;
  height: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 20px;
}

.active {
  color: #457b9d;
}

.nav_links li a:hover {
  color: #457b9d;
  transition: 0.3s ease 0s;
}

.head button {
  margin-left: 20px;
}

button, .button {
  font-size: 14px;
  padding: 9px 20px;
  color: #24252A;
  font-weight: bold;
  background-color: rgba(238, 108, 77, 1);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  letter-spacing: 1px;
}

button:hover, .button:hover {
  background-color: rgba(238, 108, 77, 0.5);
  color: #fec89a;
  transition: 0.3s ease 0s;
}

/*========== Login-SignUp page ==========*/
.login-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(36, 37, 42, 0.9);
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.signup-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(36, 37, 42, 0.9);
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.login-page, .signup-page {
  width: 300px;
  height: 400px;
  background-color: #e9ecef;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.login-page img, .signup-page img {
  padding-top: 20%;
  width: 100px;
}

label {
  color: #24252A;
  font-weight: bold;
}

input {
  width: 200px;
  height: 30px;
  display: block;
  margin: 15px auto;
  color: #24252A;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 50px;
  transform: rotate(45deg);
  color: #24252A;
  cursor: pointer;
}

main {
  min-height: 100%;
  background-color: #262932;
  padding: 30px 10%;
  padding-bottom: 5%;
  position: relative;
  width: 100%;
}

footer {
  background-color: #293241;
  position: relative;
  height: 35px;
  margin-top: -35px;
  clear: both;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
}

/*========== Home Page ==========*/
.background {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 10%;
}

.home {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .textbox {
  position: relative;
  width: 800px;
  letter-spacing: 1px;
  font-size: 100%;
  z-index: 10;
}

.home .textbox h1 {
  color: #fec89a;
}

.home .textbox h1 span {
  font-size: 2em;
  font-weight: bold;
  color: #fffcf2;
}

.home .textbox p {
  max-width: 150%;
}

.home .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  z-index: 9;
}

.home .imgBox img {
  max-width: 100%;
}

.textbox, .imgBox {
  opacity: 0;
  animation: floatIn 3.2s ease forwards;
}

@keyframes floatIn {
  from {
    transform: translateY(-35%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/*========== Basic & Opening Page ==========*/
.headings {
  font-size: 100%;
  text-align: center;
  display: grid;
}

.headings h1 {
  opacity: 0;
  animation: floatIn 1s ease forwards;
}

.headings p {
  margin: auto;
  max-width: 60%;
  opacity: 0;
  animation: floatIn 1.2s ease 0.5s forwards;
}

.col-md-4, .col-md-6, .col-md-8, .col-md-12 {
  display: grid;
}

.col-md-4 .piece {
  width: 60%;
  margin: auto;
}

.col-md-4 .title {
  font-size: 250%;
  margin: auto;
}

.mb-3 {
  background-color: #555b6e;
  border-radius: 30px;
  padding: 20px;
  font-size: 100%;
}

.mb-3:hover {
  box-shadow: 0 0 15px #abc4ff;
  transition: 0.5s ease 0s;
}

h2 {
  font-size: 25px;
  text-align: center;
  padding: 10px;
}

iframe {
  margin: auto;
  border-radius: 30px;
  border: 2px solid black;
  display: inline-block;
  max-width: 100%;
  max-height: 100%
}

/*========== Play Page ==========*/
.box {
  display: grid;
}

.chessboard {
  position: relative;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
}

/*========== Grandmasters Page ==========*/
/*Tool Tip for chess modes*/
.tooltip {
  font-size: 12px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip a {
  font-weight: bold;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  z-index: 10;
}

.hyperlinks:hover {
  color: #457b9d;
  transition: 0.3s ease 0s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  bottom: 100%;
  left: 100%;
}

/*Tool Tip for GM tag*/
.titles {
  background-color: #b33430;
  width: 35px;
  border-radius: 6px;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bolder;
  padding: 2px 3px;
  position: relative;
  display: inline-block;
  cursor: default;
}

.woman {
  width: 45px;
}

.titles:hover {
  box-shadow: 0 0 5px white;
  transition: 0.2s ease 0s;
}

.titles .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  z-index: 10;
}

.titles:hover .tooltiptext {
  visibility: visible;
  bottom: 100%;
  left: 100%;
  margin-left: -70px;
}

.hyperlinks {
  font-size: 16px;
}

table, th, td {
  border: 1px solid #e0fbfc;
  border-collapse: collapse;
  padding: 10px;
}

.players tr td:nth-child(2) {
  width: 280px;
}

.players tr td:nth-child(4), tr td:nth-child(5), tr td:nth-child(6) {
  width: 100px;
}

.players tbody tr td:nth-child(1), tr td:nth-child(4), tr td:nth-child(5), tr td:nth-child(6) {
  text-align: center;
}

.elo {
  margin-left: auto;
  margin-right: auto;
}

.elo .rating {
  text-align: center;
}

.players, #show {
  margin-left: auto;
  margin-right: auto;
}

#show {
  /*width: 79.35%;*/
  width: 801.81px;
  position: relative;
  background-color: rgba(85, 91, 110, 0.3);
  border-radius: 5px;
  padding: 5px 10px;
}

#show:hover {
  background-color: rgba(85, 91, 110, 0.4);
  cursor: pointer;
  transition: 0.3s ease;
}

#show h3 {
  font-weight: normal;
}

#show h3 span {
  position: absolute;
  font-size: 20px;
  font-weight: bolder;
  right: 15px;
}

.table {
  display: none;
}

caption {
  text-align: left;
  padding: 5px;
  font-size: 20px;
}

table tfoot {
  font-size: 10px;
}